{% extends "base.html" %}

{% block content %}
<h2>Authenticated!</h2>
<p>Your access token: <span id="token">{{ token }}</span></p>
<div id="loginAlert" class="mt-3"></div>
<script>
    const accessToken = "{{ token }}";
    console.log("Access Token:", accessToken);
    // Здесь ваш код для работы с токеном
    localStorage.setItem('jwt_token', accessToken);
    // Перенаправляем на активные расписания
    setTimeout(() => {
        window.location.href = '/account';
    }, 1000);
</script>
{% endblock %}
