# Игнорируем файлы конфигурации и окружения
.env
*.pyc
__pycache__/
*.pyo
*.pyd

# Игнорируем директории с миграциями
alembic/
migrations/

# Игнорируем временные файлы
*.log
*.tmp
*.swp

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем другие ненужные файлы
*.git
*.gitignore
