Flask
Flask-JWT-Extended
Flask-WTF
SQLAlchemy
werkzeug
python-dotenv
requests
flask-restx
flask-cors
psycopg2-binary
alembic
boto3
pydub
openai
#aiobotocore 
aiboto3
flask-socketio
eventlet
asyncio
"flask[async]"
aiohttp