{% extends "base.html" %}

{% block content %}
<!-- Подключение внешних JavaScript файлов -->
<script src="/static/js/prompt/add_prompt.js"></script>

<!-- Хлебные крошки -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/account">Главная</a></li>
        <li class="breadcrumb-item"><a href="/manage_prompts">Управление промптами</a></li>
        <li class="breadcrumb-item active" aria-current="page">Добавить новый промпт</li>
    </ol>
</nav>

<h2>Add New Prompt</h2>

<form id="promptForm">
    <div class="mb-3">
        <label for="prompt_name" class="form-label">Prompt Title</label>
        <input type="text" class="form-control" id="prompt_name" name="prompt_name" required>
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Prompt Text</label>
        <textarea class="form-control" id="text" name="text" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Prompt</button>
</form>

{% endblock %}
