{% extends "base.html" %}

{% block content %}
<!-- Подключение внешних JavaScript файлов -->
<script src="/static/js/prompt/edit_prompt.js"></script>

<!-- Хлебные крошки -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/acoount">Главная</a></li>
        <li class="breadcrumb-item"><a href="/manage_prompts">Управление промптами</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактировать промпт</li>
    </ol>
</nav>

<h2>Edit Prompt</h2>

<form id="editPromptForm" data-prompt-id="{{ prompt_id }}">
    <div class="mb-3">
        <label for="prompt_name" class="form-label">Prompt Name</label>
        <input type="text" class="form-control" id="prompt_name" name="prompt_name" value="{{ prompt_name }}" required>
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Prompt Text</label>
        <textarea class="form-control" id="text" name="text" rows="4" required>{{ prompt_text }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>

{% endblock %}
