{% extends "base.html" %}

{% block content %}
<!-- Подключение внешних JavaScript файлов -->
<script src="/static/js/prompt/manage_prompts.js"></script>

<!-- Хлебные крошки -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/account">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Управление промптами</li>
    </ol>
</nav>

<h2>Manage Prompts</h2>

<a href="/add_prompts" class="btn btn-primary mb-3">Add New Prompt</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Use Automatically</th> <!-- Новый столбец для флага -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="promptList">
        <!-- Промпты будут загружены через JS -->
    </tbody>
</table>

{% endblock %}
