{% extends "base.html" %}

{% block title %}Account | Tiacore{% endblock %}

{% block content %}
<script src="/static/js/api_keys.js"></script> <!-- Link to your JavaScript file -->
<div class="container mt-5">
    <h1>Manage API Keys</h1>

    <!-- Form to create a new API key -->
    <div class="form-group">
        <label for="comment">Comment:</label>
        <input type="text" id="comment" class="form-control" placeholder="Enter a comment for the API key">
    </div>
    
    <button id="createApiKey" class="btn btn-primary mt-3">Create API Key</button>



    <!-- Hidden field for API key -->
    <div id="apiKeySection" style="display:none; margin-top: 20px;">
        <label for="apiKeyInput">Your API Key:</label>
        <input type="text" id="apiKeyInput" class="form-control" readonly>
        <button id="copyApiKey" class="btn btn-success mt-3">Copy API Key</button>
    </div>

    
    <!-- Список существующих ключей -->
    <h2 class="mt-5">Существующие API ключи</h2>
    <div id="apiKeysList"></div> <!-- Сюда будет выводиться список ключей -->
    

    <div id="responseMessage" style="margin-top: 15px;"></div>
</div>
{% endblock %}
