{% extends "base.html" %}

{% block content %}
<!-- Подключение внешнего JS -->

<script src="/static/js/manage_audio.js"></script>

<h2>Upload Audio Files</h2>



<!-- Форма для загрузки аудиофайлов -->
<form id="uploadForm" enctype="multipart/form-data">
  <div id="fileInputsContainer">
    <!-- Контейнер для динамического добавления полей файлов и имен -->
  </div>
  <button type="button" id="addFileButton" class="btn btn-secondary">Добавить файл</button>
  <button type="submit" class="btn btn-primary">Загрузить</button>
</form>



<!-- Список файлов с пагинацией -->
<h3 class="mt-5">Uploaded Files</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Actions</th>
      <th>Transcribed</th>
    </tr>
  </thead>
  <tbody id="fileList">
    {% for file in files %}
    <tr>
      <td>{{ file.name }}</td>
      <td>
          <!-- Кнопка для скачивания файла -->
          <button class="btn btn-success" onclick="downloadFile('{{ file.audio_id }}')">Download</button>
          <!-- Кнопка для удаления файла -->
          <button class="btn btn-danger" onclick="deleteFile('{{ file.audio_id }}')">Delete</button>
      </td>
      <td>
          {% if file.transcribed %}
              Yes
          {% else %}
              No
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination" id="pagination"></ul>
</nav>


{% endblock %}
